canvas {
    background-color:#445544;
    border:1px solid #888;    
    height:600px;
    margin-bottom:24px;
    width:800px;
}

span {
    display:inline-block;
}

img {
    height:40px;
}

#infoPanel {
    background-color:#222;
    width:300px;
}
