.hero {
    background-color:#111;
    color:#999;
    cursor:pointer;
    display:inline-block;
    font-family:"Courier New";
    font-size:14px;
    height:266px;
    margin:12px 4px 0 4px;
    text-align:center;
    vertical-align:middle;
}

.portrait {
    opacity:0.8; 
    width:200px;
}

.primaryStat {
    opacity:0.8;
    margin-top:-33px;
    margin-left:-98px;
    position:absolute;
}

.name {
    color:#bbb;
    font-family:"Geo Sans";
    font-size:26px;
    padding:6px;
}
